<ul>
  <% @products.each do |product| %>

      <li><%= product.name %>,


      <%= product.cost %>,


      <%= product.description %>,


      <%= product.country %></li>
      <li><%= link_to 'Show', product %></li>
      <li><%= link_to 'Edit', edit_product_path(product) %></li>
      <li><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>

  <% end %>
</ul>
