<p id="notice"><%= notice %></p>
<div class="prod">
  <h1><%= @product.name %></h1>

  <p><strong>Description:</strong>
    <br>
    <span class="desc"><%= @product.description %></span></p>
  <p><strong>Country:</strong>
    <br>
    <%= @product.country %></p>
  <p>Average Rating: <%= @product.average_rating %></p>
  <p class='right'>
    <strong>Cost: </strong>
    <%= @product.cost %>
  </p>
</div>


<div class="review-list">
  <% if @product.reviews.any? %>
    <h3>Reviews for this product:</h3>
    <% @product.reviews.most_recent.each do |rev| %>
      <div class="well">
      <h3>Rating:<%= rev.rating %></h3>
      <p><%= rev.content_body %></p>
      <h5>By: <%= rev.name %></h5>
      </div>
    <% end %>
  <% else %>
    <h3>Be the first to review this product!</h3>
    <%= link_to 'Review', new_product_review_path(@product) %>
  <% end %>
</div>
<br>
<%= link_to 'Add Review', new_product_review_path(@product) %>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
