<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @product.cost %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Country:</strong>
  <%= @product.country %>
</p>
<div class="review-list">
  <% if @product.reviews.any? %>
     <h3>Reviews for this product:</h3>
     <ul>
       <% @product.reviews.each do |rev| %>
       <li>Rating:<%= rev.rating %>, <%= rev.content_body %></li>
     </ul>
     <% end %>
  <% else %>
    <h3>Be the first to review this product!</h3>
    <%= link_to 'Review', new_product_review_path(@product) %>
  <% end %>
</div>
<%= link_to 'Add Review', new_product_review_path(@product) %>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
