<%= form_for [@product, @review] do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :review_name %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.text_field :rating, id: :review_rating %>
  </div>

  <div class="field">
    <%= form.label :content_body %>
    <%= form.text_area :content_body, id: :review_content_body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
